* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    display: inline-block;
}

li,
ol,
ul {
    list-style: none;
}

img {
    vertical-align: middle;
}

.full_wrapper {
    width: 100%;
}

.container {
    width: 960px;
    margin: 0 auto;
}

.clr {
    clear: both;
}

/* ====================== common css end ====================== */

/*  ====================== header part start ======================  */
.header_full {
    height: 117px;
}

.logo {
    height: 77px;
    width: 100px;
    float: left;
}

.logo img {
    height: 100%;
    padding-top: 13px;
}

.header_text {
    width: 640px;
    float: left;
}

.header_text h1 {
    font-weight: 700;
    line-height: 117px;
    font-size: 26px;
    color: #3ca2a2;
}

.contact_number {
    width: 220px;
    float: left;
}

.contact_number p {
    font-weight: 400;
    line-height: 117px;
    font-size: 28px;
    color: #b76262;
}

/*  ====================== header part end ======================  */



/*  ====================== menu part start ======================  */
.menu_full {
    height: 50px;
    background: #b30e10;
}

.main_menu {
    width: 860px;
    float: left;
}

.main_menu ul {
    display: flex;
}

.main_menu ul li a {
    line-height: 50px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    padding: 0 16px;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -o-transition: all linear .4s;
    -ms-transition: all linear .4s;
}

.main_menu ul li a:hover {
    background: #f18d26;
}

.social_link {
    height: 50px;
    width: 100px;
    float: left;
    text-align: right;
    line-height: 50px;
}

.social_link a {
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    color: #b30e10;
    background: #fff;
    border-radius: 50%;
}

/*  ====================== menu part end ======================  */
