* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    background: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    font-family: sans-serif;
}

.menu-ber {
    background: #006400;
    text-align: center;
}

.menu-ber ul {
    display: inline-flex;
    list-style: none;
    color: #fff;
}

.menu-ber ul li {
    width: 120px;
    margin: 15px;
    padding: 15px;
}

.menu-ber ul li a {
    text-decoration: none;
    color: #fff;
}

.active,
.menu-ber ul li:hover {
    background: #2bab0d;
    border-radius: 3px;
}

.menu-ber .fa {
    margin-right: 8px;
}

.sub-menu-1 {
    display: none;
}

.menu-ber ul li:hover .sub-menu-1 {
    display: block;
    position: absolute;
    background: #006400;
    margin-top: 15px;
    margin-left: -15px;
}

.menu-ber ul li:hover .sub-menu-1 ul {
    display: block;
    margin: 10px;
}

.menu-ber ul li:hover .sub-menu-1 ul li {
    width: 200px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

.menu-ber ul li:hover .sub-menu-1 ul li:last-child {
    border-bottom: none;
}

.menu-ber ul li:hover .sub-menu-1 ul li a:hover {
    color: #b2ff00;
}

.fa-angle-right {
    float: right;
}

.sub-menu-2 {
    display: none;
}

.hover-me:hover .sub-menu-2 {
    position: absolute;
    display: block;
    margin-top: -40px;
    margin-left: 190px;
    background: #006400;
}