h1 {
    font-family: fantasy;
    font-size: 55px;
    color: white;
}

h2 {
    text-align: center;
    font-family: fantasy;
    font-weight: 400;
    font-size: 20px;
    color: white;
}

h3{
    text-align: center;
    font-family: fantasy;
    font-weight: 400;
    font-size: 15px;
    color: white;
}

h6 {
    font-family: fantasy;
    font-weight: 400;
    color: white;
    text-align: center;
    font-size: 14px;
}

.main {
    margin: 50px auto;
    width: 1000px;
    height: 1400px;
    background: #132043;
    position: relative;
}

.header {
    width: 1000px;
    height: 150px;
    background: #96C045;
}

.logo {
    width: 140px;
    height: 140px;
    background: url("../images/logo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    position: absolute;
    left: 25px;
    top: 5px;
}

.name {
    position: absolute;
    left: 200px;
    top: -20px;
}

.profile {
    position: absolute;
    right: 20px;
    top: 10px;   
}

.search {
    position: absolute;
    left: 270px;
    top: 100px;
}

.cart {
    width: 120px;
    height: 50px;
    font-family: fantasy;
    font-size: 20px;
    text-align: center;
    background: white;
    position: absolute;
    right: 20px;
    top: 70px;
    margin: 2px;
}

.menu {
    width: 1000px;
    height: 50px;
    background: white;
}

.menu-div {
    width: 198px;
    height: 46px;
    float: left;
    background: #5E8F3C;
    margin: 2px 1px;
}

.big-div {
    width: 1000px;
    height: 1000px;
    background: red;
}

.category {
    width: 200px;
    height: 1000px;
    background: #2C3438;
    float: left;
}

.product {
    width: 800px;
    height: 1000px;
    background: #132043;
    float: left;
    padding: 0px;
    box-sizing: border-box;
}

.card {
    margin: 20px 0px 0px 20px;
    width: 240px;
    height: 225px;
    background: #2C3438;
    float: left;
}

.i-1 {    
    background: url("../images/Samsung-Galaxy-A20.jpg");
}

.i-2 {    
    background: url("../images/Asus-ROG-Zephyrus-S-GX531.jpg");
}

.i-3 {    
    background: url("../images/XIaomi-Mi-9-Pro.jpg");
}

.i-4 {    
    background: url("../images/apple-ipad-pro.jpg");
}

.item {
    width: 240px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.label {
    text-align: center;
    width: 240px;
    height: 25px;
    float: left;
    background: white;
    font-family: fantasy;
    font-weight: 600;
    color: black;
}

.new {
    width: 75px;
    height: 75px;
    background: url("../images/new-icon.png");
    background-size: contain;
    position: absolute;
    top: 220px;
    left: 480px;
    z-index: 1;
}

.footer {
    width: 1000px;
    height: 200px;
    background: #96C045;
    color: white;
    padding: 25px;
    box-sizing: border-box;
}

.link {
    width: 950px;
    height: 100px;
    float: left;
    text-align: center;
}

.icon {
    width: 100px;
    height: 100px;
}

.copyright {
    text-align: center;
    width: 950px;
    height: 50px;
    float: left;
    font-family: fantasy;
    font-size: 14px;
}