body{
    background: #f7f7f7;
    color: tomato;
    
    font-family: cursive;
    font-size: 30px;
}

.main {
    margin: 50px auto;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    
    justify-content: space-between;
    
    width: 800px;
}