* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    display: inline-block;
}

li,
ol,
ul {
    list-style: none;
}

img {
    vertical-align: middle;
}

.full_wrapper {
    width: 100%;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.clr {
    clear: both;
}

/*  ======================================================
                             common css end
    ======================================================  */


body {
    font-family: sans-serif;
    font-weight: 600;
    color: white;
    background: rgba(36, 22, 203, 0.5);
    text-align: center;
    padding: 50px;
    font-size: 20px;
}

form {
    width: 800px;
    margin: 0 auto;
}

form > div {
    width: 500px;
    margin: 0 auto;
}

input,
button {
    margin: 10px auto;
    display: block;
    text-align: center;
    color: green;
    border: 1px solid transparent;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
}

input {
    height: 50px;
    width: 500px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.5);
}

input::placeholder {
    font-weight: 700;
    word-spacing: 5px;
}

button {
    height: 40px;
    width: 150px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    display: inline-block;
    margin: 10px 5px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

button:hover {
    background: #fff;
}

.email,
.password {
    position: relative;
    margin: 0 auto;
}

.full_name {
    position: relative;
    margin: -10px auto;
    display: flex;
    justify-content: space-between;
}

#first_name {
    margin-right: 10px;
}

#first_name_error {
    position: absolute;
     right: 0;
    top: 0;
    transform: translate(-505px, 18px);
    text-align: center;
    font-size: 14px;
    padding: 10px;
    clip-path: polygon(95% 0, 100% 50%, 95% 100%, 0 100%, 0 0);
}

#last_name_error {
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(505px, 18px);
    text-align: center;
    font-size: 14px;
    padding: 10px;
    clip-path: polygon(100% 0, 100% 100%, 5% 100%, 0 50%, 5% 0);
}

#email_error {
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(-505px, 8px);
    text-align: center;
    font-size: 14px;
    padding: 10px;
    clip-path: polygon(95% 0, 100% 50%, 95% 100%, 0 100%, 0 0);
}

#password_error {
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(-505px, 8px);
    text-align: center;
    font-size: 14px;
    padding: 10px;
    clip-path: polygon(95% 0, 100% 50%, 95% 100%, 0 100%, 0 0);
}
