* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    display: inline-block;
}

li,
ol,
ul {
    list-style: none;
}

img {
    vertical-align: middle;
}

.full_wrapper {
    width: 100%;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.clr {
    clear: both;
}

/*  ======================================================
                             common css end
    ======================================================  */

/*  ======================================================
                             header part
    ======================================================  */


/*  ======================= menu part start ========================== */

.banner_full {
    background: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.menu_part {
    height: 91px;
    background: rgba(0, 0, 0, 0.44);
}

.menu_section {
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 91px;
    width: 110px;
    line-height: 91px;
}

.logo img {
    height: 100%;
}

.main_menu {
    width: 940px;
    position: relative;
}

.main_menu ul {
    display: flex;
    justify-content: flex-end;
}

.main_menu ul li a {
    color: #fff;
    font-family: 'Myriad Pro';
    font-size: 14px;
    line-height: 91px;
    margin: 0 21px;
    text-transform: uppercase;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -o-transition: all linear .3s;
    -ms-transition: all linear .3s;
}

.main_menu ul li a:hover {
    color: #28b8d8;
}

.social_icon {
    width: 120px;
}

.social_icon ul {
    display: flex;
    justify-content: flex-end;
}

.social_icon ul li a {
    color: #fff;
    font-size: 13px;
    line-height: 91px;
    margin-left: 18px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -o-transition: all linear .3s;
    -ms-transition: all linear .3s;
}

.social_icon ul li a:hover {
    color: #28b8d8;
}

.main_menu::after {
    content: '';
    position: absolute;
    right: -1px;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 30px;
    background: #3b3942;
}

/*  ======================= manu part end ========================== */


/*  ======================= banner text part start ========================== */
.banner_section {
    padding: 227px 0 248px;
    text-align: center;
}

.banner_text h1 {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
}

.banner_text h2 {
    font-family: 'Roboto Slab', serif;
    color: #fff;
    font-size: 40px;
    font-weight: 300;
    text-transform: uppercase;
}

.banner_text p {
    font-family: 'Roboto Slab', serif;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
}

/*  ======================= banner text part end ========================== */



/*  ======================================================
                             service part
    ======================================================  */

.service_full {
    padding: 80px 0;
    background: #f9f9f9;
}

.text_section {
    text-align: center;
}

.text_section h3 {
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
    color: #444444;
    font-weight: 300;
}

.text_section p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #666666;
    font-weight: 400;
    margin: 20px 0 45px;
}

.service_head {
    text-align: center;
}

.service_head h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #444444;
    font-weight: 700;
    margin: 30px 0;
    text-transform: uppercase;
}

.service_body {
    display: flex;
    justify-content: space-between;
}

.service_item {
    border: 1px solid rgba(0, 0, 0, 0.09);
    background-color: #ffffff;
    text-align: center;
    margin-right: 30px;
    cursor: pointer;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -o-transition: all linear .3s;
    -ms-transition: all linear .3s;
}

.service_item:last-child {
    margin-right: 0;
}

.service_item .img {
    margin: 15px;
}

.service_item img {
    width: 100%;
}

.service_inner h3 {
    font-family: 'Roboto Slab', serif;
    font-size: 17px;
    color: #444444;
    font-weight: 700;
    margin: 12px 0;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -o-transition: all linear .3s;
    -ms-transition: all linear .3s;
}

.service_inner p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #666666;
    font-weight: 400;
    padding: 0 35px;
    margin-bottom: 24px;
}

.service_item:hover {
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.6);
    -o-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.6);
    -ms-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.6);
}

.service_item:hover .service_inner h3 {
    color: #28b8d8;
}

/*  ======================= service part end ========================== */



/*  ======================================================
                            instagram part
    ======================================================  */

.instagram_full {
    background: #2c2c2c;
    text-align: center;
    padding: 75px 0;
}

.instagram_head h2 {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: #d5d5d5;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 25px;
    position: relative;
    display: inline-block;
}

.instagram_head h2 span::before,
.instagram_head h2 span::after,
.instagram_head h2::before,
.instagram_head h2::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100px;
    background: #535353;
}

.instagram_head h2::before {
    left: -115px;
    top: 9px;
}

.instagram_head h2::after {
    left: -115px;
    top: 12px;
}

.instagram_head h2 span::before {
    right: -115px;
    top: 9px;
}

.instagram_head h2 span::after {
    right: -115px;
    top: 12px;
}

.instagram_body {
    display: flex;
    justify-content: space-between;
}

.instagram_body .img {
    width: 24.2%;
    position: relative;
    overflow: hidden;
}

.instagram_body .img::after {
    content: '';
    position: absolute;
    left: -5px;
    top: -5px;
    right: -5px;
    bottom: -5px;
    transform: scale(1);
    background: rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -o-transition: all linear .3s;
    -ms-transition: all linear .3s;
}

.instagram_body .img:hover::after {
    transform: scale(0);
}

.instagram_body .img img {
    width: 100%;
    cursor: pointer;
}

.instagram_link a {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #a6a6a6;
    text-transform: uppercase;
    line-height: 48px;
    border: 1px solid #797979;
    padding: 0 34px 0 20px;
    margin-top: 40px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -o-transition: all linear .3s;
    -ms-transition: all linear .3s;

}

.instagram_link a i {
    font-size: 14px;
    margin-right: 7px;
}

.instagram_link a:hover {
    border: 1px solid #28b8d8;
    color: #28b8d8;
}

/*  ======================= instagram part end ========================== */



/*  ======================================================
                            journal part
    ======================================================  */

.journal_full {
    background: #f9f9f9;
    text-align: center;
    padding: 75px 0;
}

.journal_head h2 {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: #444444;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 25px;
    position: relative;
    display: inline-block;
}

.journal_head h2 span::before,
.journal_head h2 span::after,
.journal_head h2::before,
.journal_head h2::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100px;
    background: #d9d9d9;
}

.journal_head h2::before {
    left: -115px;
    top: 9px;
}

.journal_head h2::after {
    left: -115px;
    top: 12px;
}

.journal_head h2 span::before {
    right: -115px;
    top: 9px;
}

.journal_head h2 span::after {
    right: -115px;
    top: 12px;
}

.journal_body {
    display: flex;
    justify-content: space-between;
}

.journal_item {
    border: 1px solid rgba(0, 0, 0, 0.09);
    background-color: #ffffff;
    text-align: center;
    margin-right: 30px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -o-transition: all linear .3s;
    -ms-transition: all linear .3s;
    cursor: pointer;
}

.journal_item:last-child {
    margin-right: 0;
}

.journal_item:hover {
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.6);
    -o-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.6);
    -ms-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.6);
}

.journal_item h3 {
    font-family: 'Roboto Slab', serif;
    font-size: 17px;
    color: #444444;
    font-weight: 700;
    margin-top: 20px;
}

.journal_item h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #666666;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 7px;
}

.journal_item img {
    width: 100%;
}

.journal_inner {
    text-align: left;
    padding: 26px;
    position: relative;
}

.journal_inner p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #666666;
    font-weight: 400;
    margin-bottom: 20px;
    line-height: 22px;
}

.journal_inner a {
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    color: #999999;
    font-weight: 400;
    text-transform: uppercase;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -o-transition: all linear .3s;
    -ms-transition: all linear .3s;
}

.journal_inner a::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: #28b8d8;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -o-transition: all linear .3s;
    -ms-transition: all linear .3s;
}

.journal_inner a:hover::after {
    width: 0;
}

.journal_item:hover .journal_inner a {
    color: #28b8d8;
}

.journal_inner .counter {
    position: absolute;
    right: 25px;
    bottom: 0;
}

.journal_inner .counter p {
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    color: #999999;
    font-weight: 400;
}

.journal_inner .counter p i {
    margin-right: 5px;
    width: 11px;
    height: 10px;
}

/*  ======================= journal part end ========================== */



/*  ======================================================
                            about part
    ======================================================  */

.about_full {
    background: #f9f9f9;
    text-align: center;
    padding: 75px 0;
}

.about_container {
    display: flex;
    justify-content: space-between;
}

.about_me,
.my_service {
    width: 48.65%;
}

/*  ======================= about me part start ========================== */
.about_me_head h2 {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: #444444;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 25px;
    position: relative;
    display: inline-block;
}

.about_me_head h2::before,
.about_me_head h2::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100px;
    background: #d9d9d9;
}

.about_me_head h2::before {
    right: -115px;
    top: 9px;
}

.about_me_head h2::after {
    right: -115px;
    top: 12px;
}

.about_me_body {
    display: flex;
    justify-content: space-between;
}

.about_me_body .img {
    width: 35%;
}

.about_me_body .img img {
    width: 100%;
}

.about_me_body .text {
    width: 65%;
    text-align: left;
}

.about_me_body .text p {
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    color: #666666;
    font-weight: 300;
    line-height: 28px;
    margin-left: 25px;
    margin-top: -7px;
}

.about_me_body .text p span {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 24px;
    font-size: 14px;
    display: block;
    margin-top: 20px;
}

/*  ======================= about me part end ========================== */


/*  ======================= my service part start ========================== */
.my_service_head h2 {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: #444444;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 25px;
    position: relative;
    display: inline-block;
}

.my_service_head h2::before,
.my_service_head h2::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100px;
    background: #d9d9d9;
}

.my_service_head h2::before {
    right: -115px;
    top: 9px;
}

.my_service_head h2::after {
    right: -115px;
    top: 12px;
}

.my_service_item {
    display: flex;
    justify-content: space-between;
}

.my_service_item .img {
    width: 9%;
}

.my_service_item .img img {
    width: 100%;
    padding: 0 6px;
}

.my_service_item .text {
    width: 91%;
    text-align: left;
    padding-left: 18px;
}

.my_service_item .text h3 {
    font-family: 'Roboto Slab', serif;
    font-size: 17px;
    color: #444444;
    font-weight: 700;
    line-height: 22px;
    margin-top: -7px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -o-transition: all linear .3s;
    -ms-transition: all linear .3s;
}

.my_service_item:hover .text h3 {
    color: #28b8d8;
}

.my_service_item .text p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #666666;
    line-height: 22px;
    font-size: 14px;
    margin: 10px 0 20px;
}

.my_service_item {
    cursor: pointer;
}

.my_service_item .text a::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: #28b8d8;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -o-transition: all linear .3s;
    -ms-transition: all linear .3s;
}

.my_service_item .text a:hover::after {
    width: 100%;
}

/*  ======================= my service part end ========================== */



/*  ======================================================
                            footer part
    ======================================================  */

.footer_full {
    background: #373737;
    padding: 65px 0;
}

.footer_main {
    display: flex;
    justify-content: space-between;
}

.footer_item {
    width: 23%;
    text-align: left;
}

.footer_item .head h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #f0f0f0;
    line-height: 24px;
    font-size: 16px;
    text-transform: uppercase;
}

.footer_item .body p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #cacaca;
    line-height: 24px;
    font-size: 14px;
}

.footer_item .post p,
.footer_item .about p {
    line-height: 22px;
}

.footer_item .contact > p {
    padding: 14px 0 24px;
}

.footer_item .contact ul li p span {
    display: block;
    padding-left: 26px;
}

.footer_item .contact ul li p i {
    margin-right: 15px;
    font-size: 12px;
}

.footer_item .post ul li,
.footer_item .twitter ul li {
    padding: 14px 0 10px;
}

.footer_item .post ul li:last-child,
.footer_item .twitter ul li:last-child {
    padding-bottom: 0;
}

.footer_item .post ul li p span {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #929292;
    font-size: 12px;
    line-height: 19px;
}

.footer_item .about p {
    padding-top: 14px;
    padding-right: 24px;
}

.footer_item .about p span {
    display: block;
    padding-top: 24px;
}

.copyright_full {
    background: #333333;
}

.copyright p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #cacaca;
    line-height: 91px;
    font-size: 14px;
}

/*  ======================= my service part end ========================== */
