* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul {
  list-style: none;
}

/* Common CSS End */


/* Sidebar Part Start */
button {
  padding: 5px 15px;
  margin: 5px;
  border: 1px solid crimson;
  color: crimson;
  background: #fff;
  text-transform: uppercase;
  font-family: sans-serif;
  letter-spacing: 1px;
  cursor: pointer;
  font-weight: 700;
}

button:hover {
  background: #d0d0d0;
}

body {
  position: relative;
}

.sidebar_menu {
  width: 20%;
  background: #5f5f5f5f;
  position: absolute;
  left: 0;
  top: 40px;
  z-index: 99;
  height: 620px;
}

.sidebar_menu ul {
  padding: 10px 5px;
}

.sidebar_menu ul li a {
  font-family: sans-serif;
  color: #fff;
  line-height: 35px;
  text-transform: uppercase;
  padding-left: 50px;
  font-weight: 700;
}

.sidebar_menu ul li:hover {
  background: #505050;
}

/* Sidebar Part End */


/* Menu Part Start */
.main_menu {
  height: 60px;
  text-align: center;
  line-height: 60px;
  background: crimson;
  z-index: 100;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}

.main_menu ul {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: flex-end;
}

.main_menu a {
  font-family: sans-serif;
  color: #fff;
  line-height: 60px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0 20px;
}

.main_menu ul li a {
  font-family: sans-serif;
  color: #fff;
  line-height: 50px;
  text-transform: uppercase;
  padding: 0 20px;
  font-weight: 700;
  border-radius: 5px;
}

.main_menu ul li:hover a {
  background: #fff;
  color: crimson;
}

.menu_fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  line-height: 60px;
  background: blue;
  padding: 0 30px;
}

.menu_fixed ul li:hover a {
  background: #fff;
  color: blue;
}

/* Menu Part End */


/* Banner Part Start */
.banner_part {
  background: url(../images/banner.jpg) 0 0 no-repeat;
  background-size: cover;
  padding: 275px 0;
  position: relative;
  z-index: 1;
}

.banner_part::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.banner_part h1 {
  font-family: sans-serif;
  font-weight: 700;
  font-size: 70px;
  color: #fff;
  text-align: center;
}

/* Banner Part End */


/* Blog Part End */
.blog_part {
  background: #f0f0f0;
  color: #101010;
  padding: 15px 30px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.blog_part .post {
  width: 32%;
  border: 1px solid #ddd;
  padding: 15px;
  margin: 15px 0;
  background: #f7f7f7;
}

.blog_part h3 {
  color: #000;
  font-family: sans-serif;
  font-weight: 700;
  line-height: 40px;
  font-size: 30px;
}

.blog_part p {
  color: #101010;
  font-family: sans-serif;
  font-weight: 400;
  line-height: 30px;
  font-size: 20px;
  padding: 5px 15px;
  text-align: justify;
}

/* Blog Part End */




